* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, poppins;
}

.gallery {
    border: 2px solid black;
    width: 300px;
    margin: 10px;
    float: left;
}

.gallery img {
    margin: 10px;
    width: 250px;
    height: 200px;
    padding: 10px;
}

.gallery .desc {
    text-align: center;
    margin: 4px;
    color: green;
}

h1 {
    text-align: center;
    font-size: 40px;
    margin: 10px;
    color: tomato;
}



/* responsive */
@media screen and (max-width:425px) {
    .gallery {
        width: 200px;
        margin: 0 20px;
    }

    .gallery img {
        width: 190px;
        margin: 5px;
    }

    h1 {
        text-align: center;
        margin: 0;
    }

}